#title {
	text-align: center; 
	font-weight: bold;
	margin-top: 1%;
	font-size: 40px;
}
#main {
	max-width: 500px; 
	height: 200px; 		
	margin: auto;
	text-align: center;
}
#chat {	
	width: 100%; 
	height: 100%; 
	border-style: solid; 
	border-width: 1px; 
	border-color: grey;
	overflow: auto;
}
#chat p {
	margin-top: -1%;
	width: 100%; 
	font-size: 20px;
	text-align: left;
	word-wrap: break-word;
}
#input {
	font-size: 20px;
	width: 100%; 
	height: 20%;
	margin-top: 1%;
}
#username {
	font-size: 20px;
	text-align: left;
	margin-top: 1%;	 
	height: 20%;
	float: center;
}
#username-input {
	width: 30%;	
}
/* For devices smaller than 720px */
@media (max-width: 720px) {
	#username-input {
		width: 52%;	
	}
}
footer {
	text-align: center; 
	margin-top: 10%;
	font-size: 20px;	
}
/* For devices smaller than 720px */
@media (max-width: 720px) {
	footer {
		text-align: center; 
		margin-top: 30%;
		font-size: 16px;	}
}

footer .fa {
	position:relative;			
}
